appdirs==1.4.4
asgiref==3.3.1
astroid==2.4.2
beautifulsoup4==4.9.3
cachetools==4.2.2
certifi==2020.11.8
cffi==1.14.6
chardet==3.0.4
colorama==0.4.4
distlib==0.3.1
Django==3.1.4
filelock==3.0.12
google-api-core==1.31.0
google-auth==1.33.1
google-cloud==0.34.0
google-cloud-bigquery==2.22.1
google-cloud-core==1.7.1
google-cloud-storage==1.41.1
google-crc32c==1.1.2
google-resumable-media==1.3.1
googleapis-common-protos==1.53.0
grpcio==1.39.0
gunicorn==20.1.0
idna==2.10
isort==5.7.0
lazy-object-proxy==1.4.3
mccabe==0.6.1
packaging==21.0
Pillow==8.1.0
proto-plus==1.19.0
protobuf==3.17.3
psycopg2==2.8.6
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pylint==2.6.0
pyparsing==2.4.7
pyperclip==1.8.1
pytz==2020.4
requests==2.25.0
rsa==4.7.2
six==1.15.0
soupsieve==2.0.1
sqlparse==0.4.1
toml==0.10.2
urllib3==1.26.2
virtualenv==20.2.2
wrapt==1.12.1
