asgiref==3.3.4
beautifulsoup4==4.9.3
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
cryptography==3.4.7
defusedxml==0.7.1
dj-database-url==0.5.0
Django==3.2.4
django-allauth==0.44.0
django-bootstrap4==3.0.1
django-ckeditor==6.0.0
django-crispy-forms==1.12.0
django-email-verification==0.1.0
django-heroku==0.3.1
django-js-asset==1.2.2
django-multiselectfield==0.1.12
Django-Verify-Email==1.0.7
gunicorn==20.1.0
heroku==0.1.4
idna==2.10
lxml==4.6.2
oauthlib==3.1.0
Pillow==8.1.0
psycopg2==2.8.6
psycopg2-binary==2.8.6
pycparser==2.20
PyJWT==2.1.0
python-dateutil==1.5
python-docx==0.8.10
python.py==0.0.3
python3-openid==3.2.0
pytz==2021.1
requests==2.25.1
requests-oauthlib==1.3.0
soupsieve==2.2.1
sqlparse==0.4.1
urllib3==1.26.4
whitenoise==5.2.0
